body {
    background-color: darkturquoise;
    font-family: 'Ranchers', cursive;
}

#main {
    text-align: center;
}
h1 {
    text-align: center;
}

button {
    background-color: deeppink;
    font-family: 'Ranchers', cursive;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    font-size: larger;
}
 

