body {
    background-color: darkturquoise;
    font-family: 'Ranchers', cursive;
    text-align: center;
}

h1 {
    text-align: right;
}

button {
    background-color: deeppink;
    font-family: 'Ranchers', cursive;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    font-size: larger;
}


